extends layout

block content
  .error.hidden The app got all jacked up. Refresh and try again plz.
    span.close-error &times;
  
  span.svg-wrap
    include svg/camera.svg
    
  h1 Generate tags for an&nbsp;image
  p Paste an image URL to get&nbsp;started.
  
  form(autocomplete="on")
    input(type="url" pattern="https?://.+" required name="photo-url" id="photo-url" placeholder="Photo here plz." autofocus)
    button Find tags
  
  .tagging-area
    .loading.hidden
      .spinner
        .bounce1
        .bounce2
        .bounce3
          
    .tagging-content.hidden
      .photo-tags
        .photo-tag-data
        a.add-to-clip(data-clipboard-target=".fakeclip") Add to clipboard
          span.copied.hidden Copied!
          input.fakeclip.hidden(type="text")
